body {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#selectionMarquee {
		cursor: crosshair;
		z-index: 1000;
		position: absolute;
		border: 2px dashed orange;
	}

	.selected-box {
		z-position: 999;
		position: absolute;
		border: 2px dashed red;
	}
	#all-cords {
		position: fixed;
		right: 0;
		bottom: 0;
		background: #9f9;
	}
	#docImage {
		background-image: url("../school.png");
		background-size: cover;
		border: 1px solid blue;
		cursor: crosshair;
		height: 645px;
		margin: auto;
		width: 500px;
	}