body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: helvetica;
}
#selectionMarquee {
	cursor: crosshair;
	z-index: 1000;
	position: absolute;
	border: 1px dashed orange;
}

.selected-box {
	z-position: 999;
	position: absolute;
	border: 1px dashed rgb(71, 140, 30);
	text-align: center;
	color: rgba(89, 128, 84, 0.43);
	display: table;
}
#all-cords {
	position: fixed;
	right: 0;
	bottom: 0;
	background: #FFF;
}
#docImage {
	background-image: url("http://img.docstoccdn.com/thumb/orig/40282709.png");
	border: 1px solid grey;
	cursor: crosshair;
	margin: auto;
	box-sizing: border-box;     background-repeat: no-repeat;     
	background-size: 100% auto;     
	height: 900px;
	max-width: 700px;
}
#meta{
	position:absolute;
	
	background: rgb(223, 223, 223);
	padding: 5px;
	border-radius: 5px;
	border: solid 1px grey;
	display: none;
}

button#doneCapture {
    display: block;
    margin: auto;
    margin-top: 20px;
}

button#doneFill{
    display: block;
    margin: auto;
    margin-top: 20px;
}

div#fill {
    width: 500px;
    margin: auto;
    background-color: rgb(240, 240, 240);
    border: solid 1px rgb(179, 179, 179);
    /* min-height: 200px; */
    border-radius: 5px;
    display: none;
    padding: 15px 10px 20px 10px;
    margin-top: 100px;
}

#fill div {
    margin: 10px 20px;
    position: relative;
    /* text-align: right; */
}

#fill input {
    width: 350px;
    right: 0;
    position: absolute;
}

canvas#canvas {
  display: block;
  margin: auto;
  border: solid 1px rgb(153, 153, 153);
  max-width: 700px;
  box-sizing: border-box;
}

#capture p {
    text-align: center;
    font-weight: bold;
    color: rgb(69, 111, 176);
}

div#view {
    display: none;
}

input#imgUrl {
    margin: auto;
    display: block;
    width: 344px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.selected-box span {
    vertical-align: middle;
    display: table-cell;
}